<p>signup-form works!</p>
<body>
    

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row">
                    <div class="col-sm-12 col-md-4 formgroup">
                        <label>Nazwa Gracza</label>
                        <input id="nickname-inpt" type="text" class="form-control" [(ngModel)] = "nickname" name="nickname" required>
                    </div> 
                    <div class="col-sm-12 col-md-4 formgroup">
                        <label>Hasło</label>
                        <input id="password-inpt" type="password" class="form-control" [(ngModel)]="password" name="password" required>
                    </div>
                    <div class="col-sm-12 col-md-4 formgroup">
                        <label>Email</label>
                        <input id="email-inpt" type="text" class ="form-control" [(ngModel)]="email" name="email" required>
                    </div>
                    <hr>
                    <div class="col-sm-12 col-md-4 formgroup">
                        <button type = "submit" class="bnt btn-success">Restracja</button>
                        <button type = "button" class="btn btn-primary" (click)="onClear()">Wyczyść</button>
                     </div>
                     <div class="col-sm-12 col-md-4 formgroup">
                
                     </div>
            </div>
            </form>
        </div>
    </div>
</body>