<p>singin-form works!</p>
<body data-ng-controller="formCtrl">
    <div class="panel">
        <h3 class="panel-heading">Logowanie</h3>
        <form name="angularForm" class="panel-body" method="POST" novalidate action="//api.test/auth" data-ng-hide="correctLogIn" data-ng-submit="submitData($event)">
            <fieldset class="well">
                    <div>
                        <div>
                            <label for="email">E-mail</label>
                            <input type="email" required name="email" id="email" class="form-control" data-ng-patern="emailPattern" ng-model="user.email">
                        </div>
                        <div class="error" ng-show="angularForm.email.$invalid && angularForm.email.$dirty">
                            <span ng-show="angularForm.email.$error.emailPattern">Proszę wprowadź wartość</span>
                            <span ng-show="angularForm.email.$error.required">Prosze wprowadź wartość</span>
                        </div>
                    
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="password">Hasło</label>
                            <input type="password" required name="password" id="password" class = "form-control" data-ng-minlengh='6' data-ng-pattern="passPattern" data-ng-model="user.pass">
                        </div>
                        <div class="error" ng-show="angularForm.password.$invalid && angularForm.password.$dirty">
							<span ng-show="angularForm.password.$error">prosze wprowadź poprawne hasło (6 znaów,małe lub duże litery i jeden numer)</span>
						</div>

                    </div>
                    



            </fieldset>

        </form>
    </div>
    
</body>